<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>A.D.A Ordering System</title>
</head>

<body>

    <link rel="stylesheet" href="../asset/css/fadein.css">
    <link rel="stylesheet" href="../asset/css/material-icon.css">
    <link rel="stylesheet" href="../asset/css/vuetify.min.css">
    <link rel="stylesheet" href="../asset/css/roboto-font.css">

    <div id="app">
        <v-app id="inspire">

            <v-toolbar color="primary" dark fixed app clipped-left>
                <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                <v-toolbar-title>A.D.A Inc.</v-toolbar-title>
                <v-spacer></v-spacer>
                {{name}}
                <v-menu offset-y transition="slide-y-transition">
                    <v-btn icon large slot="activator">
                        <v-avatar size="32px" tile>
                            <img :src="Profile.src" aspect-ratio="1" style="border-radius: 50%;"></img>
                        </v-avatar>
                    </v-btn>


                    <v-list expand>
                        <v-list-tile class="mb-1">

                            <v-list-tile-action>
                                <v-btn icon slot="activator" disabled>
                                    <v-avatar size="32px" tile>
                                        <img :src="Profile.src" aspect-ratio="1" style="border-radius: 50%;"></img>
                                    </v-avatar>
                                </v-btn>
                            </v-list-tile-action>

                            <v-list-tile-content>
                                <v-list-tile-title>{{name}}</v-list-tile-title>
                                <v-list-tile-sub-title>{{email}}</v-list-tile-sub-title>
                            </v-list-tile-content>

                        </v-list-tile>

                        <v-divider></v-divider>

                        <v-list-tile @click="goManage">

                            <v-list-tile-action>
                                <v-icon>settings</v-icon>
                            </v-list-tile-action>

                            <v-list-tile-content>
                                <v-list-tile-sub-title>Manage Your Account</v-list-tile-sub-title>
                            </v-list-tile-content>

                        </v-list-tile>

                        <v-list-tile @click="logout">

                            <v-list-tile-action>
                                <v-icon>exit_to_app</v-icon>
                            </v-list-tile-action>

                            <v-list-tile-content>
                                <v-list-tile-sub-title>Sign Out</v-list-tile-sub-title>
                            </v-list-tile-content>

                        </v-list-tile>


                    </v-list>
                </v-menu>
            </v-toolbar>

            <v-navigation-drawer v-model="drawer" fixed left clipped app>

                <v-parallax dark src="../asset/image/role.jpg" height="185">
                    <v-layout align-center column justify-center>
                        <h1 class="display-2 font-weight-thin mb-3">Dealer</h1>
                        <h4 class="subheading">A Dope Afternoon Inc.</h4>
                    </v-layout>
                </v-parallax>

                <v-list>

                    <v-list-tile>
                        Orders
                    </v-list-tile>

                    <v-list-tile @click="goAdd">
                        <v-list-tile-action>
                            <v-icon>add_box</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Make Orders</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile class="mt-1" @click="goUpdate">
                        <v-list-tile-action>
                            <v-icon>update</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>View & Update Orders</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-divider> </v-divider>

                    <v-list-tile>
                        Account
                    </v-list-tile>

                    <v-list-tile class="mt-1" @click="goView">
                        <v-list-tile-action>
                            <v-icon>chrome_reader_mode</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>View Profile</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile class="mt-1" @click="goEdit">
                        <v-list-tile-action>
                            <v-icon>edit</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Edit Profile</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile class="mt-1" @click="goChange">
                        <v-list-tile-action>
                            <v-icon>security</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Change Password</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-navigation-drawer>

            <!---------------------------------content start-------------------------------------------------------->

            <v-content>
                <v-toolbar dense flat scolor="grey lighten-3">
                    <v-breadcrumbs>
                        <v-icon slot="divider">chevron_right</v-icon>
                        <v-breadcrumbs-item>
                            Home Page
                        </v-breadcrumbs-item>
                    </v-breadcrumbs>
                </v-toolbar>
                <v-container grid-list-md>

                    <v-layout>
                        <v-icon large>
                            home
                        </v-icon>
                        <h1 class="display-1 primary--text ml-3">Home Page</h1>
                    </v-layout>
                    <h4 class="subheading ml-5">Welcome to A.D.A Inc. {{name}}</h4>

                    <v-layout class="mt-4">


                        <v-flex xs6 class="ml-5">

                            <h4 class="headline font-weight-thin pa-1">Latest Product</h4>
                            <v-layout row wrap class="text-md-center">
                                <v-flex v-for="i in latest6" :key="i.partNumber">
                                    <v-card flat tile dark>
                                        <img :src='i.src' aspect-ratio="1" class="grey lighten-2 mt-1" height="175px" width="175px"></img>
                                    </v-card>

                                </v-flex>
                            </v-layout>


                        </v-flex>




                        <v-spacer></v-spacer>

                        <v-flex xs5>
                            <h4 class="headline font-weight-thin pa-1">Price</h4>
                            <v-data-table :headers="header1" :items="latest6" :pagination.sync="pagination" class="elevation-1 mt-1" hide-actions>

                                <template slot="items" slot-scope="props">

                                    <td>{{props.item.partNumber}}</td>
                                    <td>{{props.item.partName}}</td>
                                    <td>{{props.item.stockPrice}}</td>


                                </template>



                                <template slot="no-data">
                                    <div class="text-xs-center">The Cart Is Empty</div>
                                </template>

                                <template slot="no-results">
                                    <div class="text-xs-center">Cannot Find '{{this.searchCart}}'</div>
                                </template>
                            </v-data-table>
                        </v-flex>

                    </v-layout>



                </v-container>
            </v-content>

            <!---------------------------------content end-------------------------------------------------------->

            <v-footer class="pr-3 grey darken-3" dark app height="auto">
                <v-spacer></v-spacer>
                <div>170524912 & 170516660 &copy; {{ new Date().getFullYear() }}</div>
            </v-footer>
        </v-app>
    </div>

</body>

<script src="../asset/js/vue.js"></script>
<script src="../asset/js/vuetify.js"></script>
<script src="../asset/js/axios.js"></script>
<script src="../asset/js/moment.js"></script>
<script src="../asset/js/fadein.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        fadeIn(document.getElementById("app"))
    }, false);
</script>


<script>
    new Vue({
        el: '#app',
        data: () => ({
            drawer: null,
            left: false,
            address: "",
            phone: "",
            email: "",
            Profile: "",
            name: "",
            latest6: [],
            pagination: {
                'sortBy': 'partNumber',
                'descending': true,
                rowsPerPage: 6
            },
            header1: [
                {
                    text: 'Part No.',
                    align: 'left',
                    value: 'partNumber',
                    sortable: false
                },
                {
                    text: 'Part Name',
                    align: 'left',
                    value: 'partName',
                    sortable: false
                },
                {
                    text: 'Stock Price',
                    align: 'left',
                    value: 'stockPrice',
                    sortable: false
                },
            ],
        }),

        created() {
            this.getSession();
            this.getProfile();
            this.getLatest6();
        },


        methods: {

            goManage() {
                window.location.href = "manageAccount.html";
            },

            goEdit() {
                window.location.href = "editProfile.html";
            },

            goView() {
                window.location.href = "viewProfile.html";
            },

            goHome() {
                window.location.href = "dealerMain.html";
            },

            goChange() {
                window.location.href = "changePwd.html";
            },

            goAdd() {
                window.location.href = "addOrder.html";
            },

            goUpdate() {
                window.location.href = "updateOrder.html";
            },

            getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, "\\$&");
                var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return "";
                return decodeURIComponent(results[2].replace(/\+/g, " "));
            },

            getSession() {
                axios
                    .get("../api/GetEmail.php")
                    .then(resp => {
                        if (resp.data == 1) {
                            window.location.href = '../index.html'
                        } else {
                            this.email = resp.data;//put requested data inside vue object(post)
                        }

                    });
            },

            getProfile() {
                axios
                    .get("../api/GetDealerProfile.php")
                    .then(resp => {
                        this.Profile = resp.data;
                        this.refresh();
                    });
            },

            getLatest6() {
                axios
                    .get("../api/GetLatest6.php")
                    .then(resp => {
                        this.latest6 = resp.data;
                    });
            },

            refresh() {
                this.email = this.Profile.dealerID;
                this.name = this.Profile.name;
                this.phone = this.Profile.phoneNumber;
                this.address = this.Profile.address;
            },

            logout() {
                axios({
                    method: 'get',
                    url: '../api/Logout.php',
                }).then(res => {
                    window.location.href = '../index.html'
                })
            },

        }


    })
</script>

</html>